useDynLib(ngspatial)
export(adjacency.matrix)
export(autologistic)
export(rautologistic)
export(sparse.sglmm)
import(batchmeans)
import(Rcpp)
importFrom(utils, citation)
importFrom(utils, packageDescription)
S3method(residuals,autologistic)
S3method(residuals,sparse.sglmm)
S3method(summary,autologistic)
S3method(summary,sparse.sglmm)
S3method(vcov,autologistic)
S3method(vcov,sparse.sglmm)
